body{
    background-color: #94b8b8;
}
/* header */
#header {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;
    background-color: #33ccff;
}
/*accordion & maintext*/
#accordion, #maintext{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;
    background-color: #33ccff;
    height: 250px;
    padding: 50px 0;
}
#murmeli {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;
    background-color: #33ccff;
    height: 250px;
    padding: 50px 0;
}
/*form page */
#form{
    font-size: 1.5em;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5%;
    background-color: #33ccff;
    height: 1000px;
    padding: 50px 0;
}
/*navbar backgroundcolor*/
.bg-turq{
    background: #33ccff;
}
.bg-primary{
    background: #33ccff;
}

/*important message*/
.important {
    border: 2px solid red;
}
/* accordion*/
.accordion {
    border: 2px solid black;
}
.accordion-item {
    border: 2px solid black;
}